table, tr, th, td {
	border: thin inset #808080;
}

body {
	display: grid;
	grid-template-areas: 	"header"
				"nav"
				"content"
				"footer";
	width: 100%;
	max-width: 790px;
	margin: 0;
	grid-gap: 2px;
}
header {
	grid-area: header;
}
nav {
	grid-area: nav;
}
nav ul {
	list-style: none;
}
nav ul li {
	padding-left: 1em;
}
#wb-tphp {
	list-style-type: none;
	margin-bottom: 0;
}
.wb-slc {
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    z-index: 3;
}
.wb-sl {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
.wb-disable .wb-slc .wb-sl,.wb-show-onfocus:focus,.wb-sl:focus {
	clip:rect(auto,auto,auto,auto);
	height:inherit;
	margin:inherit;
	overflow:inherit;
	position:static;
	width:inherit;
	background-color: white;
}
main {
	grid-area: content;
}

footer {
	grid-area: footer;
	padding: 1em;
	border-top: solid thin black;
}
#bannerImg {
	width: 80%;
	height: 90%;
	max-width: 794px;
}
.invisibleStuff {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	margin: 0;
}

.navcurr {
	border-left: thick solid black;
}

.formDiv {
	margin: 0.75em 0;
}

.formDiv label:first-child {
	display: block;
	font-weight: bold;
}
.formDiv input, .formDiv textarea {
	width: 20em;
}
.formDiv input[type="checkbox"] {
	width: 1em;
}

.formDiv textarea {
	height: 8em;
}

@media (min-width: 800px) {
	body {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-areas: 	"nonheader header header"
					"nav content content"
					"footer footer footer";
		width: 100%;
		grid-gap: 5px;
	}
	nav {
		grid-area: nav;
		margin: 0 1.5em;
		min-width: 13em;
	}

	.formDiv input, .formDiv textarea {
		width: 40em;
	}
}
